.wrapper {
    margin: 15px 0 25px;
}

.links:not(:first-child) {
    margin-top: 5px;
}

.links a {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
}
.subcategoriesWrapper a {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 5px 0 0 10px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.arrowWrapper {
    margin-left: 10px;
    transition: transform 0.3s ease-out;
}

.arrowWrapper.expanded {
    transform: rotate(180deg);
}

.subcategoriesWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}

.subcategoriesWrapper.expanded {
    max-height: 500px; /* Adjust based on your design */
}
