.button {
    width: 100%;
    border: 1px solid var(--green);
    color: var(--white);
    text-align: left;
    padding: 9px 10px;
    font-size: 16px;
    font-weight: 500;
    background: var(--green);
    transition: .2s;
}
.button:hover {
    background: rgba(118, 158, 132, 1);
    border: 1px solid rgba(118, 158, 132, 1);
}
.button:disabled {
    opacity: 40%;
    pointer-events: none;
}
.button.isOpen {
    color: var(--green);
    background: var(--white);
}