.option:not(:first-child) {
    display: block;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.option input {
    margin-right: 10px;
}
.characteristicName {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 5px;
}