.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* quantity */
.quantity {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 44px;
    padding: 1px;
    display: flex;
    align-items: center;
    min-width: 107px; height: 36px;
    position: relative;
}
.quantity > span {
    text-align: center;
    width: 33px;
    margin: 0 6.89px;
}
.remove, .add {
    border: none; border-radius: 50%;
    display: flex;
    justify-content: center; align-items: center;
    position: relative;
    transition: .2s;
}
.remove:hover, .add:hover {
    opacity: .8;
}
.remove {
    height: 28px; width: 28px;
    background: rgba(217, 217, 217, 1);
}
.remove > span, .add > span {
    width: 14px; height: 2px;
    background: var(--white);
    border-radius: 15px;
}
.add {
    position: absolute;
    right: 0;
    width: 34px; height: 34px;
    background: var(--green);
}
.add.disabled {
    background: var(--lightGreen);
    pointer-events: none;
}
.add > span:last-child {
    position: absolute;
    transform: rotate(90deg);
}

.quantityInput {
    max-width: 41px;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: transparent;
    outline: none;
}
.price {
    min-width: 100px;
    text-align: center;
}
.delete {
    background: transparent;
    border: none;
    flex-basis: 24px;
    transition: .2s;
}
.delete:hover {
    transform: scale(1.1);
}
@media (max-width: 767px) {
    .wrapper {
        justify-content: space-between;
        margin-top: 10px;
    }
}