.wrapper {
    background: var(--white);
    padding: 25px;
}
.wrapper h3 {
    font-size: 24px;
    font-weight: 700;
}
.buttonWrapper {
    margin-top: 25px;
    height: 38px;
}
.mobileExhibition {
    display: none;
}
@media (max-width: 999px) {
    .wrapper {
        height: 100%;
        overflow: auto;
    }
    .inner {
        width: max-content;
        margin: 0 auto;
    }
    .mobileExhibition {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}