.wrapper {
    display: grid;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 38px 38px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 38px;
    }
}