.wrapper {
    margin-top: 60px;
}
.breadCrumbs {
    margin-bottom: 30px;
}
.main {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}
@media (max-width: 999px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: auto 469px 469px;
    }
}
@media (min-width: 1000px) {
    .main {
        grid-template-columns: 340px 1fr 1fr;
    }
}
