.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    min-height: 97px;
}
.header a {
    color: var(--white);
    text-decoration: none;
    transition: .2s;
    position: relative;
    padding-bottom: 3px;
}
.header a::before {
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 0; height: 1px;
    background-color: var(--white);
    transition: width .2s ease;
}
.header a:hover::before {
    width: 100%;
}
.logo {
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
}
.links > a {
    margin-right: 40px;
}
@media (max-width: 767px) {
    .navigate {
        display: none;
    }
    .basket {
        display: none;
    }
    .header {
        min-height: 67px;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .navigate {
        display: none;
    }
}