.wrapper {
    display: grid;
    grid-template-areas:
        'rightPanel'
        'leftPanel'
        'alsoBuy'
        'reviews';
}
.rightPanel {
    grid-area: rightPanel;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.leftPanel {
    grid-area: leftPanel;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.alsoBuy {
    grid-area: alsoBuy;
    margin-top: 10px;
}
.reviews {
    grid-area: reviews;
    margin-top: 10px;
}
@media (min-width: 1000px) and (max-width: 1359px) {
    .wrapper {
        grid-template-columns: 510px 1fr;
        grid-template-areas:
        'leftPanel rightPanel'
        'alsoBuy   alsoBuy'
        'reviews    reviews';
    }
}
@media (min-width: 1360px) {
    .wrapper {
        grid-template-columns: 60% 1fr;
        grid-template-areas:
        'leftPanel rightPanel'
        'reviews    reviews';
    }
}