.wrapper {
    padding: 10px;
    background: var(--white);
    box-shadow:
            0 2px 5px rgba(8, 13, 10, 0.1),
            0 10px 10px rgba(8, 13, 10, 0.09);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btnContainer {
    height: 38px;
}
.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titles > p:first-child,
.titles > p:last-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titles > p:first-child {
    line-height: 19.5px;
    margin: 15px 0 5px;
    -webkit-line-clamp: 2;
}
.titles > p:last-child {
    -webkit-line-clamp: 1;
}
.titles > p:last-child,
.price > p:last-child {
    font-size: 14px;
    opacity: 40%;
}
.price > p:last-child {
    font-family: 'Inter', sans-serif;
}
.price > p:first-child {
    font-family: 'Ahsing', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}
.price {
    color: var(--green);
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}