.footer {
    color: var(--white);
    margin-top: 60px;
}
.footer .linkContainer a {
    color: var(--white);
    text-decoration: none;
    transition: .2s;
    position: relative;
    padding-bottom: 3px;
}
.footer .linkContainer a::before {
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 0; height: 1px;
    background-color: var(--white);
    transition: width .2s ease;
}
.footer .linkContainer a:hover::before {
    width: 100%;
}

/* TOP */
.top {
    display: grid;
    grid-template-areas:
        "catalog"
        "info"
        "company"
        "subscribe";
}
.top h3 {
    font-size: 24px;
}
.subscribe {
    grid-area: subscribe;
}
.catalog {
    grid-area: catalog;
}
.info {
    grid-area: info;
}
.company {
    grid-area: company;
}
.topLinks {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
}
.catalog .topLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
    .catalog, .info, .company {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1359px) {
    .top {
        grid-template-areas:
            'subscribe subscribe subscribe'
            'catalog   info      company';
    }
    .top h3 {
        margin-top: 60px;
    }

}
@media (min-width: 1360px) {
    .top {
        grid-template-areas: 'catalog info company subscribe';
        grid-template-columns: repeat(3, auto) 343px;
    }
}

/* BOTTOM */
.bottom {
    border-top: 2px solid var(--white);
    margin-top: 60px;
    padding: 60px 0;
    display: grid;
    grid-template-areas:
            'logo'
            'rights'
            'socials';
}
.rights, .logo, .socials, .socials > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    grid-area: logo;
    justify-content: flex-start;
}
.rights {
    grid-area: rights;
}
.rights a {
    font-size: 14px;
    font-weight: 500;
}
.socials {
    grid-area: socials;
    justify-content: flex-end;
    gap: 10px;
}
.socials a {
    width: 40px; height: 40px;
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: .2s;
}
.socials a:hover {
    background: var(--green);
}
.socials a:hover svg * {
    fill: var(--white);
}

@media (max-width: 767px) {
    .bottom {
        border: none;
        margin-top: 0;
    }
    .logo {
        justify-content: center;
    }
    .rights {
        margin: 25px 0;
    }
    .rights a {
        font-weight: 400;
    }
    .socials {
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .bottom {
        grid-template-areas: 'logo rights socials';
    }
}
@media (max-width: 999px) {
    .bottom {
        margin-bottom: 57px;
    }
}
