.wrapper {
    margin-top: 60px;
}
.breadcrumbs {
    margin-bottom: 30px;
}
.main {
    display: grid;
    grid-template-areas:
        'topPanel'
        'productsInCart'
        'informationPanel';
    grid-gap: 10px;
}
.topPanel {
    grid-area: topPanel;
}
.productsInCart {
    grid-area: productsInCart;
}
.informationPanel {
    grid-area: informationPanel;
}

@media (min-width: 1160px) {
    .main {
        grid-template-areas:
            'topPanel informationPanel'
            'productsInCart informationPanel';
        grid-template-columns: 1fr 500px;
        grid-template-rows: auto 1fr;
    }
}
@media (min-width: 1000px) and (max-width: 1159px) {
    .main {
        grid-template-areas:
            'topPanel informationPanel'
            'productsInCart informationPanel';
        grid-template-columns: 1fr 325px;
        grid-template-rows: auto 1fr;
    }
}