/* --NAVIGATION FILL-- */
.navigation {
    position: relative;
    z-index: 100;
    transition: .7s;
}
.navigation.fill {
    background: var(--white);
}
.navigation.fill .mainCategories {
    border: none;
}
.navigation.fill .mainCategories a {
    color: var(--black);
    border-radius: 0;
    border: none;
}
.navigation.fill .mainCategories > a:hover {
    color: var(--white);
    background: var(--orange);
}
/* --SEARCH-- */
.mainCategoriesAndSearch button:hover {
    background-color: var(--white);
}
.mainCategoriesAndSearch button:hover > svg > path {
    fill: var(--black);
}
.navigation.fill .mainCategoriesAndSearch button {
    border: none; border-radius: 0;
}
.navigation.fill .mainCategoriesAndSearch button > svg > path {
    fill: var(--black);
}
.navigation.fill .mainCategoriesAndSearch button:hover {
    background: var(--orange);
}
.navigation.fill .mainCategoriesAndSearch button:hover > svg > path {
    fill: var(--white);
}

/* --CATEGORY TREE-- */
.categoryTree {
    transition: .7s;
    opacity: 0;
    pointer-events: none;
}
.categoryTree.visible {
    pointer-events: all;
    opacity: 1;
}

/* --MAIN CATEGORIES-- */
.mainCategoriesAndSearch {
    display: flex;
    height: 40px;
}
.mainCategories {
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.mainCategories a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}
@media (min-width: 1360px) {
    .mainCategoriesAndSearch {
        column-gap: 15px;
    }
    .mainCategories {
        column-gap: 15px;
    }
    .mainCategories > a {
        border: 1px solid var(--white);
        border-radius: 52px;
    }
}
@media (min-width: 1000px) and (max-width: 1359px) {
    .mainCategoriesAndSearch {
        column-gap: 10px;
    }
    .mainCategories {
        border: 1px solid var(--white);
        border-radius: 20px;
    }
}

/* NAVIGATION NONE */
@media (max-width: 999px) {
    .navigation {
        display: none;
    }
}


.preloader {
    padding: 10px;
    text-align: center;
    width: 100%;
    background: var(--white);
    position: absolute;
    z-index: 50;
}
