.wrapper {
    background: var(--white);
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 16px 35px 0 #0000001A,
                0 64px 64px 0 #00000017,
                0 144px 86px 0 #0000000D,
                0 256px 102px 0 #00000003,
                0 400px 112px 0 #00000000;

}
.wrapper > h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}