.wrapper {
    margin-top: 60px;
}
.main {
    display: grid;
    grid-template-areas:
        'filterPanel'
        'paginationPanel'
        'cardList';
    grid-gap: 10px;
    grid-auto-rows: auto 1fr;
}
.main > div:nth-child(1) {
    grid-area: filterPanel;
}
.main > div:nth-child(2) {
    grid-area: paginationPanel;
}
.main > div:nth-child(3) {
    grid-area: cardList;
}
@media (min-width: 1000px) {
    .main {
        grid-template-areas:
            'filterPanel paginationPanel'
            'filterPanel cardList';
        grid-template-columns: 348px auto;
    }
}
@media (max-width: 999px) {
    .main {
        grid-template-areas:
            'paginationPanel'
            'cardList';
    }
}

/* --FILTER MOBILE-- */

@media (max-width: 999px) {
    .filterPanel {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 150;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }
    .filterPanel.visible {
        opacity: 1;
        pointer-events: all;
    }
}