.wrapper {
    margin-top: 60px;
}
.main {
    display: grid;
    grid-template-areas:
        'filterPanel'
        'paginationPanel'
        'cardList';
    grid-gap: 10px;
    grid-auto-rows: auto 1fr;
}
.filterPanel {
    grid-area: filterPanel;
    display: block; /* Панель фильтров по умолчанию видима */
}
.filterPanel.hidden {
    display: none; /* Скрыть панель фильтров на мобильных устройствах */
}
.main > div:nth-child(1) {
    grid-area: filterPanel;
}
.main > div:nth-child(2) {
    grid-area: paginationPanel;
}
.main > div:nth-child(3) {
    grid-area: cardList;
}
@media (min-width: 1000px) {
    .main {
        grid-template-areas:
            'filterPanel paginationPanel'
            'filterPanel cardList';
        grid-template-columns: 348px auto;
    }
    .filterPanel {
        display: block; /* Панель фильтров видима на десктопах */
    }
}
@media (max-width: 999px) {
    .main {
        grid-template-areas:
            'paginationPanel'
            'cardList';
    }
    .filterPanel {
        display: none; /* Панель фильтров скрыта на мобильных по умолчанию */
    }
    .filterPanel.visible {
        display: block; /* Показать панель фильтров на мобильных при клике */
        position: absolute; /* Добавить абсолютное позиционирование */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1000; /* Показать поверх всего */
        overflow: auto; /* Добавить прокрутку для большого содержимого */
    }
    .main > div:nth-child(1) {
        display: none;
    }
}
