.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
}
.inner {
    display: flex;
    gap: 10px;
}
.customButton {
    cursor: pointer;
}
