.icoBtn {
    background: transparent;
    border: none;
    height: 37px; width: 37px;
    transition: .1s;
    border-radius: 50%;
}
.icoBtn:hover {
    opacity: 50%;
}
.icoBtn:active {
    opacity: 1;
    background: var(--orange);
}
.wrapper {

}