.wrapper {
    width: 100%;
    background: var(--white);
    position: absolute;
    z-index: 50;
    padding: 10px;
    box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.1),
                0 34px 34px 0 rgba(0, 0, 0, 0.09),
                0 77px 46px 0 rgba(0, 0, 0, 0.05),
                0 136px 54px 0 rgba(0, 0, 0, 0.01),
                0 213px 60px 0 rgba(0, 0, 0, 0);
    max-height: 60vh;
    overflow: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 415px auto;
}

.rightSide {
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}

.preloader {
    padding: 10px;
    text-align: center;
}
