.wrapper {
    width: 100%;
    background: var(--white);
    position: absolute;
    z-index: 50;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}
.subcategoryWithButton {
    height: 40px;
    display: flex;
}
/* --SHOW MORE-- */
.showMore {
    height: 100%; min-width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    background: transparent;
    border: 1px solid var(--black);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.showMore > .verticalLine, .showMore > .horizontalLine {
    width: 18px; height: 1px;
    background: var(--black);
    position: absolute;
}
.showMore > .verticalLine {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}
.showMore > .verticalLine.rotated {
    transform: rotate(0deg);
}

.underSubcategories {
    display: flex;
    flex-direction: column;
    background: rgba(241, 241, 241, 1);
    border-radius: 20px;
}
.underSubcategories a {
    color: var(--black) !important;
    border: none !important;
}
.underSubcategories a:not(:last-child) {
    margin-bottom: 5px;
}