.wrapper {
    width: 100%;
    background: var(--white);
    position: absolute;
    z-index: 50;
    padding: 10px;
    display: grid;
    grid-template-columns: 415px auto;
}
.rightSide {
    margin-left: 10px;
    overflow: hidden;
}