.wrapper {
    height: auto;
    min-width: 100%;
    background: var(--white);
    position: absolute;
    z-index: 50;
    padding: 10px;
    border-radius: 18px;
}
.categoriesWrapper {
    width: 50%;
    display: inline-block;
}
.subcategoryWithButton {
    height: 40px; width: 100%;
    display: flex;
}
.underSubcategory {
    background: rgba(241, 241, 241, 1);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}
.underSubcategory a {
    color:  var(--black) !important;
}
.underSubcategory a:not(:last-child) {
    margin-bottom: 5px;
}
.showMore {
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.underSubcategory {
    display: flex;
    flex-direction: column;
}