.forGuest .success, .forGuest .error {
    font-size: 18px;
    font-weight: 500;
}
.forGuest .success span {
    color: var(--green);
}
.forGuest h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.forGuest .error {
    color: #C13E3E;
    margin-bottom: 10px;
}
.forGuest .form {
    display: flex;
    gap: 10px;
}
.forGuest .form :first-child {
    width: 100%;
}
.forGuest .form button {
    width: 200px;
    border-radius: 0;
    height: 38px;
}
@media (max-width: 1159px) {
    .forGuest .form {
        flex-direction: column;
    }
    .forGuest .form button {
        width: 100%;
    }
}

.forUser .cashbackNotFound {
    font-size: 18px;
    font-weight: 500;
}
.forUser .form {
    display: flex;
    align-items: center; justify-content: space-between;
    gap: 10px;
}
@media (max-width: 369px) {
    .forUser .form {
        flex-direction: column;
    }
}
.forUser .form label:last-child {
    font-size: 18px;
}
.forUser .cashback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.forUser .cashback.disabled {
    opacity: 40%;
    pointer-events: none;
}
.forUser .cashback input {
    height: 30px;
    width: 80px;
    padding: 5px;
    font-size: 16px;
    background: var(--white);
    border: 1px solid var(--black);
    outline: none;
    text-align: center;
}
