.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    min-height: 97px;
}
.container {
    display: flex;
}
.navigate {
    display: contents;
}
.logo > a {
    font-weight: 400;
    font-family: 'Ahsing', sans-serif;
    font-size: 52px;
    margin-bottom: 5px;
}
.links {
    display: flex;
    align-items: center;
}
.links > a {
    margin-right: 40px;
    transition: .1s;
}
.links > a:hover {
    opacity: 50%;
}
.links > a:active {
    opacity: 1;
    color: var(--orange);
}
.links > a:disabled {
    opacity: 30%;
}
.basket {
    margin-right: 15px;
}
.icoBasket {
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icoBasket.pointer {
    cursor: pointer;
    opacity: 1;
    animation: scaleCycle 1.2s infinite;
    border: 2px solid var(--white);
    border-radius: 50%;
    width: auto;
    height: auto;
}
.icoBasket.pointer > svg > rect, .icoBasket.pointer > svg > path[id="path2"] {
    fill: var(--green);
}
.icoBasket.pointer > svg > path[id="path3"] {
    fill: var(--white);
}

@keyframes scaleCycle {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@media (max-width: 767px) {
    .wrapper {
        min-height: auto;
    }
    .navigate {
        display: none;
    }
    .basket {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .navigate {
        display: none;
    }
}