.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.folding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}
.folding .title {
    font-weight: 500;
    font-size: 20px;
}
.folding path {
    stroke: var(--green);
}
.ico {
    transition: .2s;
}
.ico.isOpen {
    transform: rotate(-180deg);
}
.parentCategories {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.parentCategories .folding .title {
    font-size: 16px;
}
.childrenCategories {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.childrenCategories > div {
    margin-left: 25px;
    display: flex;
    gap: 5px;
}
.wrappFolding {
    display: flex;
    gap: 10px;
}
.characteristics .title {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.characteristics .options {
    margin-top: 5px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.minMaxPrice {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px
}
.minMaxPrice span {
    display: flex;
    align-items: center;
}
.minMaxPrice input {
    height: 38px;
    padding: 10px 25px;
    font-size: 14px;
    background: transparent;
}