.wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-areas:
        'topPanel'
        'placing'
        'informationPanel';
    grid-gap: 10px;
}
.topPanel {
    grid-area: topPanel;
}
.placing {
    grid-area: placing;
}
.informationPanel {
    grid-area: informationPanel;
}
.successfulOrder {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.successfulOrder .links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.successfulOrder .links a {
    color: var(--black);
    text-decoration: none;
}
.successfulOrder .links a:hover {
    text-decoration: underline;
}
.successfulOrder .links button {
    justify-content: center;
    border-radius: 0;
    transition: 0.3s;
}
.successfulOrder .links button:hover {
    background: var(--black);
    color: var(--white);
}

@media (min-width: 1160px) {
    .wrapper {
        grid-template-areas:
            'topPanel informationPanel'
            'placing informationPanel';
        grid-template-columns: 1fr 500px;
        grid-template-rows: auto 1fr;
    }
}
@media (min-width: 1000px) and (max-width: 1159px) {
    .wrapper {
        grid-template-areas:
            'topPanel informationPanel'
            'placing informationPanel';
        grid-template-columns: 1fr 325px;
        grid-template-rows: auto 1fr;
    }
}