.wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-areas:
        'topPanel'
        'placing'
        'informationPanel';
    grid-gap: 10px;
}
.topPanel {
    grid-area: topPanel;
}
.placing {
    grid-area: placing;
}
.informationPanel {
    grid-area: informationPanel;
}

@media (min-width: 1160px) {
    .wrapper {
        grid-template-areas:
            'topPanel informationPanel'
            'placing informationPanel';
        grid-template-columns: 1fr 500px;
        grid-template-rows: auto 1fr;
    }
}
@media (min-width: 1000px) and (max-width: 1159px) {
    .wrapper {
        grid-template-areas:
            'topPanel informationPanel'
            'placing informationPanel';
        grid-template-columns: 1fr 325px;
        grid-template-rows: auto 1fr;
    }
}