.wrapper {
    padding: 25px;
    background: var(--white);
    color: var(--black);
}
.wrapper > h3 {
    opacity: 40%;
    font-size: 14px;
    font-weight: 400;
}
.wrapper > h2 {
    margin: 10px 0 20px;
    font-size: 24px;
    font-weight: 700;
}

.reviewsContainer {
    margin: 10px 0 60px;
    font-size: 14px;
    color: var(--green)
}
.reviewsContainer > span {
    margin-right: 10px;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
}
.priceContainer > span:first-child {
    font-family: 'Ahsing', sans-serif;
    color: var(--black);
    font-size: 24px;
}
.priceContainer > div {
    display: flex;
    align-items: center;
}
.priceContainer > div > span {
    opacity: 40%;
    margin-right: 10px;
}
.buyContainer {
    margin: 10px 0 10px;
    display: flex;
    height: 46px;
}
.buyContainer > button {
    width: 100%;
}
.inStockContainer {
    display: flex;
    justify-content: space-between;
}