.wrapper {
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.buttAction {
    width: 30px;
    display: flex;
    justify-content: center; align-items: center;
    background: var(--white);
    border: none;
}
.icoBtns {
    display: flex;
    gap: 10px;
}



