.wrapper {
    padding: 30px;
    background: var(--green);
}
.wrapper h2 {
    font-weight: 700;
    font-size: 24px;
}
.form > form > input::placeholder {
    color: var(--white);
}
.form {
    margin: 25px 0 15px;
}