.button {
    display: flex;
    justify-content: center; align-items: center;
    background: var(--white);
    border: none;
    transition: .1s;
    height: fit-content;
}
.button:hover {
    opacity: 70%;
}
