.wrapper {
    height: 100%;
    position: relative;
}
.button {
    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 25px;
    font-weight: 500;
}
.button > span {
    margin-right: 10px;
}
.sortByWrapper {
    position: absolute;
    width: 100%;
    background: var(--white);
    padding: 10px;
}
.sortByWrapper > div {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.sortByWrapper > div:not(:first-child) {
    margin-top: 10px;
}
.icoArrowWrapper {
    transition: 0.2s;
}
.icoArrowWrapper.roll {
    transform: rotate(-180deg);
}