.checkboxInput {
    display: none;
}

.wrapper {
    display: flex;
    gap: 10px; align-items: center;
}
.customCheckbox {
    min-width: 20px; min-height: 20px;
    border: 1px solid var(--green);
    display: inline-flex;
    align-items: center; justify-content: center;
    cursor: pointer;
}
.text {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.customCheckbox.disabled, .text.disabled {
    cursor: default;
}
.customCheckbox.primary, .text.primary {
    border-color: var(--black);
}