.toggleBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    color: var(--green);
    border: none;
    background: var(--white);
    transition: .2s;
    font-size: 16px;
}
.arrow {
    display: flex;
    align-items: center;
    transition: .1s;
}
.arrow .line {
    width: 10px;
    height: 1px;
    background: var(--green);
    transition: .1s;
}
.arrow .line:last-child {
    margin-left: -3px;
}
.arrow.isShowArrow .line:first-child {
    transform: rotate(45deg);
}
.arrow.isShowArrow .line:last-child {
    transform: rotate(-45deg);
}
.arrow.rotated {
    transform: rotate(-180deg);
}