.wrapper {
    margin-top: 60px;
}
.wrapper h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.breadcrumbs {
    margin-bottom: 30px;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: auto;
}
.leftPanel, .rightPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.details, .purchaseHistory, .logout, .loyaltyProgram, .favorite, .cashback {
    padding: 25px;
    background: var(--white);
}
@media (min-width: 1360px) {
    .grid {
        grid-template-columns: 580px 1fr;
    }
    .rightPanel .purchaseHistory {
        display: none;
    }
    .panelBottom {
        display: none;
    }
}
@media (max-width: 1359px) {
    .leftPanel .purchaseHistory {
        display: none;
    }
    .rightPanel .favorite {
        display: none;
    }
    .panelBottom {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (min-width: 1000px) and (max-width: 1359px) {
    .grid {
        grid-template-columns: 482px 1fr;
    }
    .panelBottom .logout {
        display: none;
    }
}

@media (max-width: 999px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .leftPanel .logout {
        display: none;
    }
}

