.wrapper {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    overflow: auto;
}
.inner {
    background: var(--white);
    padding: 25px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    position: relative;
}
@media (max-width: 999px) {
    .inner {
        margin-bottom: 57px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        padding: 0 40px;
    }
}
@media (max-width: 767px) {
    .wrapper {
        padding: 0 15px;
    }
}

.close {
    background: transparent;
    border: none;
    width: 40px; height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center; align-items: center;
    position: absolute;
    right: 20px; top: 20px;
    z-index: 1000;
}
.close span {
    height: 1px;
    display: block;
    background: rgb(181, 184, 189);
    width: 40px;
    position: absolute;
}
.close span:first-child {
    transform: rotate(45deg);
}
.close span:last-child {
    transform: rotate(-45deg);
}