.subcategoryWithButton {
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}
.subcategoryWithButton button {
    transition: .2s;
}
.subcategoryWithButton button:first-child:hover {
    color: var(--white);
    background: var(--black);
}