@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Ahsing';
  src: url('../fonts/Ahsing-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../images/background/background2.svg");
  background-size: cover;
}
header a, nav a {
  color: var(--white);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
button, input, a, p, h1, h2, h3, h4, h5, h6, span {
  font-family: 'Montserrat', sans-serif;
}
button {
  cursor: pointer;
}
.app-container, .login-container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1360px;
  overflow: hidden;
}
.login-container {
  position: absolute;
  left: 0; right: 0;
  height: 100%;
  pointer-events: none;
}
@media (max-width: 767px) {
  .app-container, .login-container {
    padding: 0 15px;
  }
}

