.wrapper {
    background: var(--white);
    padding: 10px;
}

.productEnter {
    opacity: 0;
    transform: translateY(-50px);
}
.productEnterActive {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}
.productExit {
    opacity: 1;
    transform: translateX(0);
}
.productExitActive {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 500ms, transform 500ms;
}

.productInCart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.productInCart:not(:last-child) {
    margin-bottom: 10px;
}
.productInCart .inner {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}
.productInCart .inner .name {
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    transition: .2s;
}
.productInCart .inner:hover .name {
    color: var(--green);
}
.productInCart .inner .imageContainer img, .productInCart .inner .imageContainer svg {
    object-fit: cover;
    width: 114px; height: 114px;
}
.inner .noImageBlock div::before {
    font-size: 12px !important;
}

@media (max-width: 767px) {
    .productInCart {
        flex-direction: column;
    }
    .productInCart .inner {
        align-items: start;
    }
    .productInCart:not(:last-child) {
        margin-bottom: 25px;
    }
}