.wrapper {
    background: var(--white);
    padding: 10px;
}
.productInCart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.productInCart:not(:last-child) {
    margin-bottom: 10px;
}
.productInCart .inner {
    display: flex;
    align-items: center;
}
.productInCart .inner .name {
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    transition: .2s;
}
.productInCart .inner .name:hover {
    color: var(--green);
}
.productInCart .inner .imageContainer {
    width: 114px; height: 114px;
    cursor: pointer;
}
.productInCart .inner .imageContainer img, .productInCart .inner .imageContainer svg {
    object-fit: cover;
    width: 100%; height: 100%;
}


@media (max-width: 767px) {
    .productInCart {
        flex-direction: column;
    }
    .productInCart .inner {
        align-items: start;
    }
    .productInCart:not(:last-child) {
        margin-bottom: 25px;
    }
}