.wrapper {
    background: var(--white);
    padding: 10px;
}
.productInCart {
    height: 114px; width: 100%;
    display: flex;
    justify-content: space-between;
}
.productInCart:not(:last-child) {
    margin-bottom: 10px;
}
.productInCart .inner {
    display: flex;
    align-items: center;
}
.productInCart .inner:first-child > p {
    font-size: 18px;
    margin-left: 10px;
}
.productInCart .image {
    width: 114px; height: 114px;
    object-fit: cover;
}
.productInCart .delete {
    background: transparent;
    border: none;
}

/* --QUANTITY-- */
.quantity {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 44px;
    padding: 1px;
    display: flex;
    align-items: center;
    width: 107px; height: 32px;
    position: relative;
}
.quantity > span {
    text-align: center;
    width: 33px;
    margin: 0 6.89px;
}
.remove, .add {
    border: none; border-radius: 50%;
    display: flex;
    justify-content: center; align-items: center;
    position: relative;
}
.remove {
    height: 28px; width: 28px;
    background: rgba(217, 217, 217, 1);
}
.remove > span, .add > span {
    width: 14px; height: 2px;
    background: var(--white);
    border-radius: 15px;
}
.add {
    position: absolute;
    right: 0;
    width: 34px; height: 34px;
    background: var(--green);
}
.add > span:last-child {
    position: absolute;
    transform: rotate(90deg);
}